# Core data stack
numpy==2.4.0
pandas==2.3.3

# Stats
statsmodels==0.14.6

# Plotting
matplotlib==3.10.8

# ML
scikit-learn==1.8.0
joblib==1.5.3

# App
streamlit==1.52.2

# Web scraping 
selenium==4.39.0

# Optional 
scipy>=1.16
